<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<appSettings>
		<add key="DestinationPeopleImagesFolder" value="C:\Users\Anas_\source\repos\PosAndAccountant\PosAndAccountant-People-Images\"/>
		<add key="DestinationProductsImagesFolder" value="C:\Users\Anas_\source\repos\PosAndAccountant\PosAndAccountant-Products-Images\"/>
		<add key="URLForAnasAlkhalil" value="www.linkedin.com/in/anas-alkhalil"/>

	</appSettings>
	<connectionStrings>

		<add name="ConnectionString" connectionString="Server=.;Database=AccountantDB;User Id=sa;Password=sa123456;"/>
		
	</connectionStrings>
	
	
</configuration>
